$color__accent: #E75300;

$color__dark: #0A0A0A;

$color__pale: #E5E5E5;
$color__pale--lighter: #F2F2F2;

$color__primary: #4DC223;
$color__primary--darker: #41AE19;
$color__primary--lighter: #52C129;
$color__primary--lightest: #4BDF15;

$color__text: #4F4F4F;
$color__text--darker: #333333;
$color__text--darkest: #222222;
$color__text--lighter: #6F6F6F;
$color__text--lightest: rgba(79, 79, 79, 0.46);