.m-banner {

    &__figure {
        height: 346px;
        right: 0;
        top: 80px;

        * {
            height: 564px;
        }
    }

    &__image {
        height: 456px;
        right: 0;
        top: 134px;
    }

    &__title {
        max-width: 37.375rem;
        padding-left: 1.5em;
    }

    &__form {
        margin-left: 3.77em;

        .row>.col:first-child {
            max-width: 261px;
        }
    }
}