.m-card {

    &__figure {
        flex-basis: 12em;
    }

    &__title {
        margin-bottom: 0.542em;
    }

    &__subtitle {
        font-size: 14px;
    }

    &__text {
        padding: 3.46em 4.15em;
    }

    &__menu--right {
        right: -2.5em;
        top: -1em;
    }

    &--personal {
        height: 19.92em;
        padding-left: 1.25em;
        padding-right: 1.25em;

        .m-card__figure {
            max-height: 322px;

            * {
                height: 100%;
                width: auto;
            }
        }

        .m-card__title {
            margin-bottom: 0.3em;
        }

        .m-card__subtitle {
            font-size: 12px;
        }
    }
}