.m-col {
    padding: 2em 4.3em;

    &__header {
        margin-bottom: 1.29em;
    }

    &--dotted {
        background-size: 14%;
        background-position: center bottom;
    }

    &--flipping {
        .m-btn {
            width: 100%;
        }
    }

    &--tall {
        height: 39.77em;
        padding: 6.23em 5.23em;

        .m-col__content, .m-col__overlay {
            padding: 0 4em;
        }
    }
}