.m-footer {
    background-size: 62%;
    background-position: -180px -109px;
    
    .m-form {
        width: 28.2em;
        margin-top: -1.69em;

        .m-btn {
            font-size: 14px;
        }
    }

    .m-section {
        padding-left: 4em;
        padding-right: 4em;

        &__footer {
            font-size: 0.9em;

            &>* {
                flex-basis: 88px; 
            }

            .m-footer__logo {
                margin-top: -3px;
            }
        }
    }

}