.m-header {

    &__logo-container {
        padding-bottom: 7em;
    }

    &__figure {
        height: 822px;
        width: 822px;
        left: 614px;
    }

    .m-list__link {
        font-size: 14px;
    }

    &__row {
        &--big{
            padding-bottom: 14.5em;
        }
    }
}