@media screen and (max-device-width: 1440px), screen and (max-width: 1440px) {
    @import 'section';
    @import 'header';
    @import 'button';
    @import 'badge';
    @import 'brick';
    @import 'masonry';
    @import 'card';
    @import 'col';
    @import 'footer';
    @import 'form';
    @import 'banner';

    body {
        font-size: 13px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

}