.m-masonry {
    grid-auto-rows: 13.85em;
    grid-gap: 1.5em 2.125%;
    grid-template-columns: repeat(auto-fill,23.4%);
    
    &--well {
        grid-auto-rows: 8.62em;
        grid-gap: 1.15em 3.92%;
        grid-template-columns: repeat(auto-fill, 30.72%);
    }
}