.m-section {
    padding: 4em;

    &__header {
        padding-left: 3.27em;

        &--bordered {
            border-width: 5px;
        }
    }

    &__number {
        margin-left: -3.27em;
    }

    &--no-padding {
        padding: 0 4em;
    }
}