.m-badge {
    padding-left: 11.67em;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 3.5em;
    min-height: 100px;

    &__icon {
        left: -11.67em;
        top: auto;
        margin-top:auto;
    }

    &__subtitle {
        max-height: none;
    }
}