.m-banner {
    height: 377px;
    padding-top: 4.4em;
    padding-right: 1.25em;

    margin-top: 5.24em;
    margin-bottom: 2.67em;

    &__figure {
        height: 137px;
        width: 146px;

        right: -16px;
        top: 240px;

        * {
            
            height: 243px;
            width: 146px;
        }
    }

    &__image {
        height: auto;
        width: 120px;

        right: -16px;
        top: 265px;
    }

    &__title {
        font-size: 22px;
        color: white;
        padding-left: 1.32em;

        margin-top: 0;
        margin-bottom: .63em;
    }

    &__form {
        margin-left: 2.91em;

        .row>.col {
            flex: 0 0 100%;
            margin-bottom: 2.83em;
        }
    }
}