.m-btn {
    @include border-radius(7px);
    padding: 9px 12px 7px;
    max-height: none;
    min-width: 124px;

    &--round {
        @include border-radius(50%);
        height: 4.33em;
        width: 4.33em;
        max-height: none;
        min-width: 0;
    }
}