.m-card {
    flex-wrap: wrap;
    height: auto;

    &>* {
        flex: 0 0 100%;
    }

    &__figure {
        height: 150px;

        &--inset {
            height: 90%;
        }
    }

    &__title--small {
        font-size: 1.08em;
    }

    &__subtitle{
        font-size: 1.08em;

        &--small {
            font-size: 1em;
        }
    }

    &__text {
        height: 90%;
        padding: 3.83em 2.75em;
    }

    &__header {
        margin-bottom: 1.83em;
        float: none;
    }

    &__menu--right {
        top: -1.25em;
        right: 0;
    }

    &--personal {
        background: $color__pale;
        display: block;

        height: 30em;
        padding: 2.5em;

        margin-bottom: 1.58em;

        .m-card__header {
            float: left;
            margin-left: 10em;
        }
    }
}