.m-col{
    height: auto;
    padding: 3em;

    &__body {
        padding-bottom: 1em;
    }

    &__header {
        margin-bottom: 1.33em;
    }

    &__title {
        vertical-align: bottom;
    }

    &__subtitle {
        margin-bottom: 1em;
    }
    
    &--flipping {
        @include border-radius(10px);
        background: $color__primary;
        color: white; 

        padding-left: 6.75em;
        padding-right: 6.75em;

        .m-col__title {
            color: white;
        }

        .m-col__overlay {
            padding-left: 6.75em;
            padding-right: 6.75em;
            visibility: visible;

            .m-btn {
                width:100%;
            }
        }
    }

    &--dotted {
        background-position: center top;
        padding-left: 5em;
        padding-right: 5em;

        .m-col__body {
            padding-left: 1.75em;
            padding-right: 1.75em;
        }
    }

    &--tall {
        height: 32.33em;
    }
}