.m-footer {
    margin-top: 3.75em;
    padding-top: 2.75em;
    padding-bottom: 0;

    .m-section {
        padding-left: 1.42em;
        padding-right: 1.42em;
        padding-bottom: 2.5em;

        &__header {
            font-size: 22px;
            margin-top: 0;

            padding-left: 1.36em;
        }

        &__footer {
            font-size: 8px;

            &>* {
                flex-basis: 8.75em;
            }

            .m-footer__logo {
                margin-top: 0;
            }
        }
    }

    .m-form {
        margin-bottom: 3.75em;
        padding-left:  2.83em;
        padding-right: 1.33em;
        width: 100%;
    }
}