.m-header {

    &__col--small {
        display: none;
    }

    &__logo-container{
        display: none;
    }

    &__logo--small{
        background-image: url('/img/png/logo--mobile.png');
        height: 35px;
        width: 29px;

        * {
            display: none;
        }
    }

    &__nav {

        .m-btn {
            background: $color__primary--lighter;
            border-color: $color__primary--lighter;
            color: white;
            display: block;
            font-size: 10px;
        }

        .m-list--horizontal{
            display: none;
        }

        &--aside {
            display: none;
        }

        &--static {
            background: none;
            position: relative;
            top: 0 !important;
            left: 0;
            right: 0;
        }
    }

    &__figure {
        height: 425px;
        width: 423px;
        top: 74px;
        left: 168px;
    }

    &__row {
        &--big {
            padding-bottom: 18em;
        }
        &--medium {
            padding-bottom: 130px;
        }
    }

    &__title {
        margin-top: 208px;
    }

    &__subtitle {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .m-btn--burger {
        background: url('/img/svg/burger.svg') center center no-repeat !important;
        display: inline-block;
        height: 15px;
        width: 19px;

        margin-left: 19px;
    }
}