.m-icon {
    &--orbit {
        background-position: 0 0;
        height: 98px;
        width: 98px;
        line-height: 98px;
    
        .m-icon {
            height: 40px;
            width: 40px;
            position: relative;
            vertical-align: middle;
        }
    }

    &--team {
        background-position: -189px 0;
    }

    &--develop {
        background-position: -128px 2px;
    }

    &--maintenance {
        background-position: -250px 4px;
    }

    &--experts {
        background-position: -312px 5px;
    }

    &--know-how {
        background-position: -377px 3px;
    }

    &--full-cycle {
        background-position: -443px 3px;
    }

    &--warranty {
        background-position: -508px 5px;
    }

    &--communication {
        background-position: -573px 0;
    }

    &--payments {
        background-position: -640px 0;
    }
}