@media screen and (max-device-width: 767px), screen and (max-width: 767px) {
    @import 'col';
    @import 'button';
    @import 'form';
    @import 'section';
    @import 'header';
    @import 'popover';
    @import 'badge';
    @import 'masonry';
    @import 'card';
    @import 'slideshow';
    @import 'banner';
    @import 'map';
    @import 'tooltip';
    @import 'footer';
    @import 'icon';

    body {
        font-size: 12px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 27px;
    }

    h3 {
        font-size: 20px;
    }
}