.m-masonry {
    display: grid;
    grid-auto-rows: 9.42em;
    grid-gap: 1em 5%;
    grid-template-columns: repeat(auto-fill, 47.5%);

    &--well {
        grid-auto-rows: 70px;
        grid-template-columns: repeat(auto-fill, 30%);

        margin-bottom: 1em;
    }
}

.m-brick{
    &--child {
        height: 70px;
    }

    &--flipping {
        @include border-radius;
        height: 100px;
        margin-bottom: 15px;

        .m-brick__content, .m-brick__overlay {
            max-width: 120px;
        }
    }
}