.m-popover {
    top: 0;
    right: 0;
    left:0;

    &__header {
        height: 99px;
    }

    .m-list__link {
        font-size: 20px;
        padding: 1.3em 1.7em;
    }

    &__close-btn {
        height: 17px;
        width: 19px;

        position: absolute;
        right: 1.7em;
        top: 1.3em;
        margin-right:-2px;
        margin-top: 1px;
    }
}