.m-section {
    padding: 1.42em;

    &__header {
        padding-left: 3em;
        margin-bottom: 1.78em;
        margin-top: 1.33em;

        &--bordered {
            border-left-width: 4px;
        }
    }

    &__number {
        margin-left: -3em;
    }
}