.m-slideshow {
    margin-bottom: 3em;

    &__footer {
        flex-wrap: wrap;

        margin-top: 3em;

        &>* {
            flex: 1 1 10em;
        }
    }

    &__indicator {
        max-width: 10em;

        margin-top: 3em;
        margin-bottom: 2em;
    }

    &__controls {
        flex-basis: 100%;
        position: static;

        .m-control {
            margin: 0 1.33em;
        }
    }
}
