.m-badge {
    padding: 0;
    padding-left: 6.33em;
    margin-bottom: 3.25em;

    &__icon {
        left: -6.33em;
        margin-top: 0;
        top: 0;
    }

    &__header {
        min-height: 22px;
        line-height: 22px;
    }

    &__title {
        display: inline-block;
        vertical-align: bottom;
    }

    &__subtitle {
        max-height: none;
    }

    &__row {
        margin-bottom: -4.25em;
    }
}