.m-banner {
    height: 329px;
    padding-top: 4em;

    &__figure {
        height: 217px;

        right: -30px;
        top: 112px;

        &>* {
            height: 384px;
            width: 232px;
        }
    }

    &__image {
        height: 308px;
        right: -36px;
        top: 142px;
    }

    &__title {
        font-size: 25px;
        margin-top: 0;
        max-width: 21em;
        padding-left: 2.4em;
    }

    &__form {
        margin-left: 6em;

        .row>.col:first-child{
            max-width: 19.67em;
            margin-right: 0;
        }
    }
}