.m-card {
    height: 25em;

    &__figure {
        flex-basis: 22em;
    }

    &__text {
        padding: 4em;
    }

    &__header {
        float: none;
    }

    &__subtitle {
        font-size: 13px;
        max-width: 16em;
    }

    &__body {
        max-width: 25em;
    }

    &__menu {
        &--right {
            right: -3rem;
            top: -1rem;
        }
    }

    &--personal {
        height: 30em;
        margin-bottom: 1.25em;

        .m-card__header {
            float: right;
            margin-right: 5.58em;
        }
    }
}