.m-col {
    height: auto;
    padding: 3em 3.25em;

    &__header {
        margin-bottom: 1em;
    }

    &__body {
        padding: 1em 3.5em .625em;
    }

    &--tall {
        height: 34.6em;

        .m-btn {
            min-width: 142px;
        }
    }

    &--dotted {
        background-size: 12.3%;
    }
}