.m-footer {
    background-size: 100%;
    background-position: -125px -50px;

    .m-section{
        padding: 3.25em;

        &__header {
            font-size: 25px;
            margin-top: 0;
        }

        &__footer {
            &>*{
                flex-basis: 80px;
            }
        }
    }
}