.m-footer {
    .m-form {
        margin-top: -2em;
        margin-bottom: -3em;
        width: 22.8em;
    }
}

.m-input {
    font-size: 1em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;

    &__error {
        &::before {
            top: -3em;
        }
    }
}

.m-textarea {
    font-size: 13px;
}

.m-captcha-imposter {
    font-size: 13px;
}