.m-header {

    &__col--small {
        flex-basis: 14.5em;

        .m-icon {
            background-position: -30px -132px;
            height: 22px;
            width: 10px;
            margin-right: 18px;
            margin-bottom: 0;
        }

        .m-section__body {
            font-size: 12px;
            padding: 4px 0;
        }
    }

    &__logo-container{
        display: none;
    }

    &__logo--small{
        background-image: url('/img/png/logo--mobile.png');
        height: 60px;
        width: 50px;

        * {
            display: none;
        }
    }

    &__nav {
        height: auto;

        .m-list--horizontal{
            display: none;
        }

        .m-btn {
            &--burger {
                background: none;
                background-position: center center;
                display: inline-block;
                height: 22px;
                width: 29px;
        
                margin-left: 43px;
            }
        }

        &--aside {
            display: none;
        }

        &--static {
            background: none;
            position: relative;
            top: 0 !important;
            visibility: visible;

            .m-btn{
                &--burger {
                    background-image: url('/img/svg/burger--inverted.svg');
                }
            }
        }

        &--fixed {
            .m-btn {
                background-color: $color__primary--lighter;
                border-color: $color__primary--lighter;
                color: white;

                &--burger {
                    background-image: url('/img/svg/burger--big.svg');
                }
            }
        }
    }

    &__figure {
        height: 788px;
        width: 744px;
        top: -188px;
        left: 268px;
    }

    &__row {
        &--big {
            padding-bottom: 38em;
        }
        &--medium {
            padding-bottom: 14em;
        }
    }

    &__title {
        margin-top: 132px;
    }

    &__subtitle {
        font-size: 20px;
        letter-spacing: 1px;
    }

    &__language-picker {
        margin-top: -1.125rem;
        position: absolute;
        right: 3.25em;

        .m-list__link {
            color: $color__text;

            &.active, &:hover, &:active, &:focus {
                color: $color__primary;
            }
        }
    }
}