.m-icon, .m-company-icon {

    &--orbit {
        background-position: 0 -291px;
        height: 61px;
        width: 61px;
        line-height: 61px;

        .m-icon {
            height: 25px;
            width: 25px;
            position: relative;
            vertical-align: middle;
        }
    }

    &--team {
        background-position: -191px -291px;
    }

    &--develop {
        background-position: -128px -289px;
    }

    &--maintenance {
        background-position: -253px -290px;
    }

    &--experts {
        background-position: -314px -289px;
    }

    &--know-how {
        background-position: -378px -291px;
    }

    &--full-cycle {
        background-position: -444px -290px;
    }

    &--warranty {
        background-position: -510px -287px;
    }

    &--communication {
        background-position: -573px -290px;
    }

    &--payments {
        background-position: -640px -291px;
    }
}

.m-company-icon {
    background-image: url('/img/png/icons-companies.png');

    &--up {
        height: 21px;
        width: 26px;
    }

    &--c {
        background-position: -60px 0;
        height: 20px;
        width: 20px;
    }
}

a:hover, a:focus, a:active {
    .m-company-icon {
        &--up{
            background-position: 0 -60px;
        }
        &--c {
            background-position: -60px -60px;
        }
    }
}