@media screen and (max-device-width: 991px), screen and (max-width: 991px) {
    @import 'header';
    @import 'button';
    @import 'section';
    @import 'popover';
    @import 'icon';
    @import 'badge';
    @import 'col';
    @import 'brick';
    @import 'card';
    @import 'masonry';
    @import 'map';
    @import 'tooltip';
    @import 'footer';
    @import 'form';
    @import 'banner';

    body {
        font-size: 12px;
    }

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 19px;
    }

}