.m-popover {
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: 300px;
    z-index: 1000;

    &__header {
        height: 300px;
    }

    .m-list__item {
        margin-bottom: 1.58em;
    }

    .m-list__link {
        font-size: 20px;
        padding: 1.3em 1.7em;
        padding-left: 16.2em;
    }

    &__close-btn {
        height: 17px;
        width: 19px;

        position: absolute;
        right: 54px;
        top: 54px;
        margin-right:-2px;
        margin-top: 1px;
    }
}