.m-section {
    padding: 3.25em;

    &__header {
        margin-top: 1.4em;
        margin-bottom: 1.92em;
        padding-left: 2.53em;

        &--bordered {
            border-width: 5px;
        }
    }

    &__number {
        margin-left: -2.53em;
    }
}