.m-tooltip {
    padding: 13px;

    &__text {
        font-size: 1.083em;
    }

    &__title {
        font-size: 1.077em;
        margin-bottom: .29em;
    }

    &__body {
        width: 17em;
        padding: 1.15em 1.5em;
    }

    &__figure {
        height: 3.69em;
        width: 3.69em;
    }
}