.m-badge-row {
    margin-bottom: -3em;
}

.m-badge {
    padding: 2em 4.125em 2em 8.375em;
    margin-bottom: 2em;

    &__header {
        margin-bottom: 1.25em;
        position: relative;
    }

    &__icon {
        position: absolute;
        margin: 0;
        margin-top: -3.0625em;
        left: -8.375em;
        top: 50%;
    }

    &__title {
        margin-bottom: 0;
    }

    &__subtitle {
        color: $color__text--lighter;

        max-height: 5.25em;
        overflow: hidden;
    }
}