.m-banner {
    background: $color__primary--darker;
    color: white;
    padding: 4.5rem 0;
    position: relative;

    margin-bottom: 5.625rem;

    &__figure {
        height: 463px; position: absolute; right:0; top:43px; z-index: 0; overflow: hidden;

        * {
            height: 744px;
        }
    }

    &__image {
        height: 596px;
        position: absolute;
        right:0;
        top:118px;
        z-index: 0;
    }

    &__title {
        max-width: 57.375rem;
        margin-bottom: 3.625rem;
        padding-left: 8.625rem;
    }

    &__form {
        margin-left: 9.0625rem;

        .row>.col:first-child {
            max-width: 22.5rem;
            margin-right: 0.875rem;
        }
    }
}