.m-btn {
    @include border-radius;
    background: white;
    border: 2px solid $color__primary;
    color: $color__primary;
    display: inline-block;
    font-size: .875em;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;

    padding: 1rem 1.125rem 1.25rem;
    max-height: 3.3125rem;
    min-width: 11.875rem;

    &--primary, &:hover, &:focus, &:active {
        background-color: $color__primary--lighter;
        border-color: $color__primary--lighter;
        color: white;
    }

    &--inverted {
        background-color: white;
        border-color: white;
        color: $color__primary--darker !important;
        
        &:hover, &:focus, &:active {
            background-color: white;
            border-color: white;
            color: $color__text--darkest !important;
        }
    }

    &--nobg {
        background: none;
    }

    &--round {
        @include border-radius(50%);
        background: none;
        border: 1px solid $color__primary;

        height: 3.375rem;
        min-width: 3.375rem;
        width: 3.375rem;
    }

    &--fullwidth {
        width: 100%;
    }

    &--burger {
        box-shadow: none !important;
        border: none !important;
        outline: none !important;
    }
}