.m-card {
    @include border-radius;
    @include flex;
    background: white;
    height: auto;

    position: relative;

    overflow: hidden;

    &:hover, &:focus, &:active {
        text-decoration: none;
    }

    &--personal {
        background: $color__pale;
        display: block;

        height: 22.5em;
        padding: 1.75em;
    }

    &__figure {
        background-size: cover;
        background-position: top center;
        flex: 0 0 13.9375em;
        margin: 0;
        overflow: hidden;

        * {
            height:auto;
            width:100%;
        }

        &--inset {
            height: 90%;

            position: absolute;
            left: -7.5%;
            bottom: 0;


        }
    }

    &__text {
        padding: 2.8125em 3.125em;
    }

    &__header {
        float: right;
        margin-bottom: 2.625em;
        position: relative;
        z-index: 100;
    }

    &__title {

        &--small {
            font-size: 1em;
        }
    }

    &__subtitle {
        color: rgba(79, 79, 79, 0.46);
        font-size: 1.0625rem;

        &--small {
            font-size: .9375em;
        }
    }

    &__menu {
        position: absolute;

        &--right {
            right: -1rem;
            top: -.5rem;
        }

        .nav-item {
            padding: .5rem 0;
        }

        .nav-link {
            padding: .5rem;
        }
    }

    &__overlay {
        @include overlay;
        @include transition_out;
        background: #EBEBEB url('/img/png/background-circle-small-grey.png') -8px 96px no-repeat;
        background-image: url('/img/svg/background-circle-small-grey.svg');
        opacity: 1;

        &--hideable {
            background: white url('/img/png/background-circle-small.png') -8px 96px no-repeat;
            background-image: url('/img/svg/background-circle-small.svg');
            opacity: 0;
    
            .m-card__figure {
            }
        }
    }

    &:hover {
        .m-card__overlay--hideable {
            @include transition_over;
            opacity: 1;
        }
    }
}