.m-row {
    @include flex;

    &--space-between {
        justify-content: space-between;
    }

    
}

.m-col {
    display: block;

    height: 24.125em;

    padding:  2em 2.625em;

    position: relative;

    //---MODIFIERS

    &:hover, &:focus, &:active {
        text-decoration: none;
        color: $color__text;

        .m-col__title {
            color: $color__primary;
        }
    }

    &--bordered {
        border-left: 1px solid $color__primary;
    }

    &--dotted {
        background: url('/img/png/background-dots.png') center bottom;
    }

    &--flipping {
        @include border-radius(0);

        transition: all .15s ease-in-out;

        &:hover, &:focus, &:active {
            @include border-radius;

            background: $color__primary;
            border-left-color: transparent;
            color: white;

            transition: all .15s ease-out;

            .m-col__title {
                color: white;
            }

            .m-col__overlay {
                visibility: visible;
            }
        }
    }

    &--tall {
        height: 33.75em;
        padding: 3.625em;

        .m-col__footer {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 3.625em;

            .m-control {
                margin-left: 4.25em;
            }
        }
    }


    //---ELEMENTS

    &__body {
        background: $color__pale--lighter;
    
        padding: 1.625em .625em .625em;
    }
    
    &__header {
        min-height: 4.125em;
        line-height: 4.125em;

        margin-bottom: 1.83rem;
    }

    &__title {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: bottom;

        &--middle {
            vertical-align: middle;
        }
    }
    
    &__subtitle {
        color: $color__text--lighter;

        max-height: 2.625rem;
        overflow: hidden;

        margin-bottom: 1.25rem;
    }

    &__text {
        color: $color__text;
    }

    &__content, &__overlay {
        @include flex;
        align-content: center;
        justify-content: center;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__overlay {
        visibility: hidden;
    }
}

@media screen and (max-device-width: 576px), screen and (max-width: 576px) {

    .m-col--flipping {
        flex: 0 0 9.3125em;
        padding-left: 5.75em;
        padding-right: 5.75em;
    }
}