.m-footer {
    background: $color__dark url('/img/png/background-circle-grey.png') 0 -109px no-repeat;
    background-image: url('/img/svg/background-circle-grey.svg');
    color: white;
    margin-top: 6em;
    padding-top: 6.25em;

    .m-section__header, .m-section__footer .m-input, .m-textarea {
        color: white;
    }

    .m-section {
        padding-left: 8.5em;
        padding-right: 8.5em;

        &__header {
            padding-left: 4.625rem;
        }

        &__footer {
            display: flex;
            font-size: 0.875em;
            letter-spacing: 1px;

            &>* {
                flex-basis: 132px;
                flex-grow: 1;
            }

            .m-footer__logo {
                display: block;
                flex-grow: 0;
        
                height: 32px;
                width: 32px;
        
                margin-left: 0;
                margin-top: 2px;
            }
        }
    }

    .m-form {
        float: right;
        margin-top: -1.1875em;
        margin-bottom: -2.125em;
        width: 26.25em;
    }
}