.m-input {
    @include border-radius(0);
    background: none;
    border:none;
    border-bottom: 1px solid;
    box-shadow:none;
    color: $color__text;
    outline: none;
    padding: 1.0625rem 1.125rem 1.25rem 0;
    max-height: 3.375rem;

    &:focus {
        background: none;
        border:none;
        border-bottom: 2px solid;
        box-shadow: none;
        outline: none;
    }

    &--accent {
        border-bottom: 2px solid $color__primary--lightest;
        color: white;

        &:focus {
            border-bottom-color: white;
            color: white;
        }
    }

    &--inversed{
        border-bottom-color: $color__text--lighter;
        color: white;

        &:focus {
            border-bottom: 2px solid $color__primary--lightest;
        }
    }

    &--invalid, &--invalid:focus {
        border-bottom: 2px solid $color__accent;
        margin-bottom: 2.625em;
    }

    &__error {
        @include border-radius(0 0 6px 6px);
        background: $color__accent;
        padding: .625em 2.625em;
        min-width: 13.625em;

        position: absolute;
        bottom:13px;
        right: 0;

        &:before {
            @include border-radius(50%);
            border: 2px solid $color__accent;
            color: $color__accent;
            content: "!";
            text-align: center;

            display: block;
            height: 1.5625em;
            width: 1.5625em;

            position: absolute;
            top: -2.4357em;
            right: 0;
        }
    }


    @include placeholder(white);
}

.m-form {
    &__row {
        padding: 0.625rem 0;
        position: relative;

        &--tall {
            padding: 1.875em 0;
        }

        &--short {
            padding: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }
}

.m-textarea {
    @include border-radius;
    box-shadow:none;
    outline: none;

    padding: 1.25em 1.56em;

    &:focus {
        box-shadow:none;
        outline: none;
    }

    &--inversed {
        background: $color__dark;
        border: 1px solid $color__text;
        color: white;

        &:focus {
            background: $color__dark;
            border-color: $color__primary--lightest;
            color: white;
        }
    }

    @include placeholder(white);
}

.m-fileitem {
    color: rgba(255, 255, 255, 0.69);
    font-size: 0.625em;
    margin-right: 1.25em;
    padding: 3px 0;

    &>* {
        display: inline-block;
        vertical-align: middle;
    }

    &__control {
        background: url('/img/png/icons.png') 0 -199px no-repeat;
        background-image: url('/img/svg/icons.svg'), none;
        height: 11px;
        width: 11px;

        margin-left: .5em;
    }
}

.m-fileinput-imposter {
    cursor: pointer;
    padding: 1em;

    position: absolute;
    top:-.625em;
    right: 0;

    &__control {
        background: url('/img/png/icons.png') -43px -200px no-repeat;
        background-image: url('/img/svg/icons.svg');
        display: block;

        height: 9px;
        width: 16px;
    }

    &__input {
        position: absolute;
        visibility: hidden;
    }
}

.m-captcha-imposter {
    color: $color__text--lighter;
    font-size: .875em;

    * {
        display: inline-block;
        vertical-align: middle;
    }

    &__box {
        border: 1px solid white;
        border-radius: 2px;
        text-align: center;

        height: 21px;
        width: 21px;
        line-height: 21px;

        margin-right: 19px;

        &--checked::before {
            color: white;
            content: "✔";
            display: inline-block;
        }
    }
}