.m-header {

    &__log-container {
        padding-bottom: 5em;
    }

    &__logo {
        height: 8em;
        width: 7.75em;

        position: relative;

        left: -18px;
        top: -32px;

        * {
            height: auto;
            width: 100%;
        }

        &--small {
            background-position: center center;
            background-size: cover;
            display: inline-block;

            height: 45px;
            width: 47px;

            left: 0;
            top: 0;
        }
    }

    &__col {

        &--small {
            flex-basis: 19.125rem;
            flex-shrink: 0;

            .m-icon {
                float: left;
                margin-right: 41px;
            }

            .m-section__body {
                float: left;
                font-size: 15px;
                padding: 11px 0;
            }
        }
    }

    &__nav {
        background: white;

        height: 6.25em;

        &-body {
            @include flex;
            align-items: center;
            justify-content: space-between;

            height: 100%;

        }

        &--fixed {
            position: fixed;

            top: -1000px;
            right: 0;
            left: 0;

            z-index: 1001;
        }

        &--static {
            position: absolute;
            visibility: hidden;
        }
    }

    &__figure {
        height: 1105px;
        width: 1105px;
        
        position: absolute;
        top: -72px;
        left: 752px;
        z-index: -1;

        * {
            height: auto;
            width: 100%;
        }
    }

    &__row{
        position: relative;
        &--big {
            padding-bottom: 22.5em;
        }
        &--medium {
            padding-bottom: 13.375em;
        }
    }

    &__title {
        margin-top: 1.625rem;

        &-accent {
            color: white;
        }
    }

    &__subtitle {
        margin-bottom: 0;
    }

    .m-btn--burger {
        display: none;
    }

    &__language-picker {
        margin-top: -.75rem;
        position: absolute;
        right: 4em;

        .m-list__link {
            color: white;
            font-size: 14px;

            &.active, &:hover, &:active, &:focus {
                color: $color__text;
            }
        }
    }
}