.m-icon, .m-company-icon {
    background: url('/img/png/icons.png') no-repeat;
    background-image: url('/img/svg/icons.svg');
    display: inline-block;
    text-align: center;

    &--orbit {
        background-position: 0 0;
        height: 100px;
        width: 100px;
        line-height: 100px;

        .m-icon {
            height: 40px;
            width: 40px;
            position: relative;
            vertical-align: middle;
        }
    }

    &--arrow-down {
        background-position: 0 -132px;
        height: 39px;
        width: 18px;
    }

    &--close-small {
        background-position: 0 -242px;
        height: 17px;
        width: 17px;
    }

    &--team {
        background-position: -189px 0;
    }

    &--develop {
        background-position: -128px 2px;
    }

    &--maintenance {
        background-position: -250px 4px;
    }

    &--experts {
        background-position: -312px 5px;
    }

    &--know-how {
        background-position: -377px 3px;
    }

    &--full-cycle {
        background-position: -443px 3px;
    }

    &--warranty {
        background-position: -508px 5px;
    }

    &--communication {
        background-position: -573px 0;
    }

    &--payments {
        background-position: -640px 0;
    }
}

.m-company-icon {
    background-image: url('/img/png/icons-companies.png');

    &--up {
        height: 21px;
        width: 26px;
    }

    &--c {
        background-position: -60px 0;
        height: 20px;
        width: 20px;
    }
}

a:hover, a:focus, a:active {
    .m-company-icon {
        &--up{
            background-position: 0 -60px;
        }
        &--c {
            background-position: -60px -60px;
        }
    }
}