.m-list {
    padding: 0;
    margin: 0;

    &--numbered {
        counter-reset: item;

        .m-list__item {
            padding-left: 2.5em;

            &:before {
                content: counter(item, decimal-leading-zero)".";
                counter-increment: item;
                display: block;
                font-weight:  bold;
                color: $color__text;

                position: relative;
                float: left;
                margin-right:-100%;
                left: -2.5em;
            }
        }

    }

    &--horizontal {
        flex-wrap: nowrap;
        
        .m-list__link {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
    }

    &__item {
        list-style-type: none;

        &--tall {
            padding-top: .625em;
            padding-bottom: .625em;
        }
    }

    &__link {
        color: $color__text;
        display: block;
        font-size: .875em;
        font-weight: bold;
        line-height: 1rem;

        padding: 1.125rem 0;


        &:hover, &:focus, &:active {
            color: $color__primary;
            text-decoration: none;
        }

        &--uppercased {
            text-transform: uppercase;
        }
    }
}