@import 'button';
@import 'form';
@import 'section';
@import 'header';
@import 'footer';
@import 'list';
@import 'badge';
@import 'slideshow';
@import 'banner';
@import 'masonry';
@import 'col';
@import 'card';
@import 'map';
@import 'tooltip';
@import 'icon';
@import 'popover';

body {
    background: $color__pale--lighter;
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: $color__text;
    line-height: 1.3125;
}

a {
    color: $color__text;

    a:hover, a:focus, a:active {
        color: $color__primary;
        text-decoration: none;
    }
}

h1, h2, h3 {
    color: $color__text--darker;
}

h1 {
    font-size: 5.3125em;
    font-weight: bold;
    line-height: 1.125;
}

h2 {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.125;
}

h3 {
    font-size: 1.875em;
    font-weight: bold;
    color: $color__text--darker;
    line-height: 1.125;
}

.active {
    color: $color__primary;
}

.col {
    padding-right:10px;
    padding-left: 10px;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.m-body {
    overflow: hidden;
}

.m-nomargin {
    margin: 0;
}

.m-nopadding {
    padding: 0;
}

.m-nowrap {
    white-space: nowrap;
}

.m-bg--primary {
    background: $color__primary;
    color: white;
}

.m-bg--dark {
    background: $color__dark;
    color: white;
}

.m-color--primary {
    color: $color__primary;
}

.m-hidden {
    display: none;
}