.m-map {

    overflow: scroll;

    &__body, &__bg>* {
        height: auto;
        width: 100%;
        min-width: 920px;

        position: relative;
    }

    &__bg {
        margin-bottom: 0;
    }

    &__overlay {
        @include overlay;
    }

    &__place {
        @include border-radius(50%);
        @include transition_out;
        background: $color__text;
        display: block;

        height: 20px;
        width: 20px;

        position: absolute;

        /*

        For positioning: vertically - 1 dot ~= 1.49%, horisonatlly - 1 dot ~= 0.76%

        */

        .m-tooltip {
            visibility: hidden;
        }

        &:hover {
            @include transition_over;
            background: $color__primary--lighter;

            .m-tooltip {
                visibility: visible;
            }
        }
    }

}