.m-masonry {
    display: grid;
    grid-auto-rows: 16.125em;
    grid-gap: 1.5em 1.5%;
    grid-template-columns: repeat(auto-fill, 23.875%);

    &--well {
        grid-auto-rows: 9.6875em;
        grid-gap: 2.61% 3.92%;
        grid-template-columns: repeat(auto-fill, 30.72%);
    }
}

.m-brick {
    @include border-radius(.625em);
    display: block;

    grid-row-end: span 1;

    position: relative;
    overflow: hidden;

    &--dotted {
        @include border-radius(0);
        background: url('/img/png/background-dots.png') center center;
        background-size: 15% 15%;
    }

    &--double-height {
        grid-row-end: span 2;
    }

    &--parent {
        @include transition_out;
        background: $color__pale;

        grid-column-end: span 2;
        grid-row-end: span 2;
        overflow: visible;

        &:hover {
            @include transition_over;
            background: $color__primary;
            color: white;
            text-decoration: none;

            &  .m-brick__title{
                @include transition_over;
                color: white;
            }

            .m-brick--child {
                @include transition_over;
                background: white;
                color: $color__text;
            }
        }
    }

    &--child {
        @include transition_out;
        background: $color__pale;
        color: $color__text;
        width: 47%;
        height: 9.6875em;

        position: absolute;
    }

    &--flipping {
        height: 11.0625em;
        overflow: hidden;

        .m-brick__content, .m-brick__overlay {
            @include border-radius;
            @include transition_out;
            background: #ebebeb;
            height: 100%;
            width: 100%;
            margin: auto;
        }

        .m-brick__overlay {
            background: white;
            visibility: hidden;
        }

        &:hover, &:focus, &:active {
            .m-brick__overlay {
                visibility: visible;
            }
        }
    }

    &__content, &__overlay {
        display: block;
        align-items: center;
        display: flex;
        justify-content: center;

        height: 100%;
        width: 100%;
    }

    &__content {
        background-position: top center;
        background-size: cover;
    }

    &__overlay {
        @include transition_out;
        background: rgba(0, 0, 0, 0.59);
        color: white;
        opacity: 0;

        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;

        &:hover {
            @include transition_out;
            opacity: 1;
        }

    }

    &__title {
        @include transition_out;

        &--primary {
            color: $color__primary;
        }
    }

    &__text {
        display: inline-block;
        max-height: 50%;
        max-width: 50%;

        * {
            height: auto;
            max-width: 100%;
        }
    }
}