.m-popover {
    background: $color__pale;
    text-align: left;

    max-height: 100%;
    max-height: 100vh;
    overflow-y: auto;
    
    position: absolute;
    visibility: hidden;

    &__header {
        height: 99px;
    }

    .m-list__link {
        color: $color__text--darker;

        &:hover, &:focus, &:active, &.active {
            background: $color__primary--lighter;
            color: white;
        }
    }
}

.m-btn--burger {
    &:focus, &:active {
        .m-popover {
            visibility: visible;
        }
    }
}