.m-section {
    margin: auto;

    max-width: 1440px;
    padding: 5em;
    position: relative;

    &--no-padding {
        padding: 0 5em;
    }

    &__number {
        color: $color__primary;
        float: left;

        position: relative;
        margin-left: -8.75rem;
        margin-right: -100%;
    }

    &__header {
        margin-bottom: 5.0625rem;
        padding-left: 8.75rem;

        &--bordered {
            border-left: 7px solid $color__primary--lightest;
        }

        &--inverted {
            color: white;
        }
    }
}