.m-slideshow {

    &__body {
        width:100%;

        overflow: hidden;
        position: relative;
    }

    &__track {
        @include flex;
        @include transition_over;
        flex-wrap: nowrap;

        position: relative;
    }

    &__footer {
        @include flex;
        align-content: center;
        justify-items: center;

        height: 3.375em;

        margin-top: 3.625em;
        position: relative;

        text-align: center;
    }

    &__indicator {
        background: $color__pale;

        height: 3px;
        width: 25.625em;

        margin: auto;

        position: relative;
        overflow: hidden;

        &-progress {
            background: $color__primary;

            height: 100%;
            width: 100%;

            margin-left: -100%;

            position: relative;
            transition: all .2s ease-in;
        }
    }

    &__controls {
        position: absolute;
        right: 0;

        .m-control--right {
            margin-left: 3em;
        }
    }

}

.m-slide {
    flex: 1 0 100%;
    max-width: 100%;

    .row {
        flex-wrap: nowrap;
    }
}

.m-control {
    position: relative;

    &::after, &::before {
        background: url('/img/png/icons.png') no-repeat;
        background-image: url('/img/svg/icons.svg');
        content: '';
        display: block;
        height: 12px;
        width: 17px;
        position: absolute;
        left: -8px;
        top:50%;
        margin-left: 50%;
        margin-top:-6px;
    }

    &--left {

        &::before {
            background-position: -100px -132px;
        }

        &::after {
            background-position: -100px -201px;
        }
    }

    &--right {
        &::before {
            background-position: -149px -132px;
        }

        &::after {
            background-position: -149px -201px;
        }
    }

    &::before {
        opacity: 1;
    }

    &::after {
        opacity: 0;
    }

    &:hover, &:focus, &:active {
        &::before {
            opacity: 0;
        }
    
        &::after {
            opacity: 1;
        }
    }
}