.m-tooltip {
    display: block;
    min-height: 8.775em;
    width: 24.75em;
    padding: 30px;
    position: relative;

    &__body {
        @include border-radius(15px);
        @include flex;
        background: $color__text--darker;
        color: white;
        justify-content: space-between;
    
        min-height: 7.4em;
        width: 22.75em;
        padding: 1.375em 2em;
    }

    &__title, &__summary {
        display: block;
    }

    &__link, &__title {
        color: $color__primary;
    }

    &__title {
        font-size: 1.125em;
        margin-bottom: 0.55em;
    }

    &__link {
        text-decoration: underline;

        &:hover {
            color: white;
        }
    }

    &__figure {
        flex: 0 0 4.5625em;
    }

    &__icon {
        @include border-radius(50%);
        display: block;
        text-align: center;

        height: 4.5em;
        line-height: 4.5em;
        width: 4.5em;

        overflow: hidden;

        * {
            max-height: 100%;
            max-width: 100%;
        }
    }
}